<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        * {
            margin: 0px;
        }

        canvas {
            width: 100%;
            height: 100%
        }
    </style>

    <!-- 核心js -->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="script/three.js"></script>
    <script src="script/WebGL.js"></script>


    <!-- 鼠标控制Camera -->
    <script src="script/controls/OrbitControls.js"></script>
    <!-- 性能监控器 -->
    <script src="script/Stats.js"></script>
    <!-- 控制台 -->
    <script src="script/dat.gui.js"></script>


    <!-- 计算 -->
    <script src="script/calcShelf.js"></script>

    <script>

        //
        var s_Controls_MinDistance = 10;
        var s_Controls_MaxDistance = 1500;

        // 分层
        var layers =
        {
            xyz: true, // 坐标轴
            floor: true, // 地板
            locations: true // 仓库
        };

        var threeStart = function () {
            if (WEBGL.isWebGLAvailable() === false) {
                alert("浏览器支持WebGL:" + WEBGL.isWebGLAvailable());
                return;
            }

            initThree();
            initScene();
            initCamera();
            // initOrbitControls();
            initLights();
            initFloor();
            initGrid();

            initObjects();

            initGUI();

            animation();
        };

        var renderer; // 渲染器
        var stats; // 性能监控器
        var initThree = function () {
            // 定义渲染器
            width = window.innerWidth;
            height = window.innerHeight;

            renderer = new THREE.WebGLRenderer({
                antialias: true
            });

            if (width == 0 || height == 0) { // eslint-disable-line
                var msg = "Width :" + width + " Height :" + height;
                alert(msg);
                width = 800;
                height = 600;
            }

            renderer.setSize(width, height);
            document.body.appendChild(renderer.domElement);
            renderer.setClearColor(0x000000, 1.0);

            // 定义性能监视器Stats
            stats = new Stats();
            stats.domElement.style.position = 'absolute';
            stats.domElement.style.left = '0px';
            stats.domElement.style.top = '0px';

            document.body.appendChild(stats.domElement);

            // 注册事件
            window.addEventListener('resize', onWindowResize, false); // 窗口大小改变事件
        };

        var onWindowResize = function () { // 窗口大小改变事件
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        };

        var scene;
        var initScene = function () {
            scene = new THREE.Scene();
        };

        var sceneAdd = function (obj) {
            scene.add(obj);
            objectArray.push(obj);
        };

        var camera;
        var initCamera = function () {
            //// camera PerspectiveCamera
            camera = new THREE.PerspectiveCamera(100, window.innerWidth / window.innerHeight, 1, 1000);
            camera.position.set(500, 100, 500);
            camera.lookAt(150, 0, 150);

            // camera OrthographicCamera
            //camera = new THREE.OrthographicCamera(-200, 200, 105, -105, 1, 1000);

            //camera.position.x = 600;
            //camera.position.y = 600;
            //camera.position.z = 600;

            //camera.lookAt(new THREE.Vector3(130, 0, 130));

            var tempCount = 0;
            for (var prop in layers) {
                camera.layers.enable(tempCount++);
            }
        };

        var mOrbitControls;
        var initOrbitControls = function () {
            mOrbitControls = new THREE.OrbitControls(camera, renderer.domElement);
            //controls.addEventListener( 'change', render ); // call this only in static scenes (i.e., if there is no animation loop)

            mOrbitControls.enableDamping = true; // an animation loop is required when either damping or auto-rotation are enabled
            mOrbitControls.dampingFactor = 0.25;
            mOrbitControls.screenSpacePanning = false;

            mOrbitControls.minDistance = s_Controls_MinDistance;
            mOrbitControls.maxDistance = s_Controls_MaxDistance;

            mOrbitControls.maxPolarAngle = Math.PI;
        };

        var initLights = function () {
            var lightBase = new THREE.AmbientLight(0xffffff); // 环境光
            scene.add(lightBase);
            // 环境光是经过多次反射而来的光称为环境光，无法确定其最初的方向。环境光是一种无处不在的光。
            // 环境光源放出的光线被认为来自任何方向。因此，当你仅为场景指定环境光时，所有的物体无论法向量如何，都将表现为同样的明暗程度。 （这是因为，反射光可以从各个方向进入您的眼睛）

            var tempCount = 0;
            for (var prop in layers) {
                camera.layers.enable(tempCount++);
            }
        };

        var initGrid = function () {
            var size = 10000;

            //// 生成辅助线
            //var helper = new THREE.GridHelper(
            //    size // size - 边长
            //    , 1000 // divisions - 边长分为多少小格
            //    // , 0x0000ff // color1 - 暂不使用, 已用 AxisHelper 标记 x,y,z的方向
            //    // , 0x808080 // color2 - 暂不使用, 已用 AxisHelper 标记 x,y,z的方向
            //);
            //scene.add(helper);

            var axesHelper = new THREE.AxesHelper(size); // X轴红色, Y轴绿色, Z轴蓝色
            axesHelper.layers.set(0);
            scene.add(axesHelper);
        };

        var initFloor = function () {
            var dashSize = 1.5;
            var gapSize = 0.5;

            var geometry = new THREE.Geometry();
            geometry.vertices.push(new THREE.Vector3(-150, 0, 0));
            geometry.vertices.push(new THREE.Vector3(150, 0, 0));

            for (var i = 0; i <= 30; i++) {
                // 横线
                var lineX = new THREE.Line(geometry, new THREE.LineDashedMaterial({ color: 0xbfbfbf, opacity: 1, dashSize: dashSize, gapSize: gapSize }));
                lineX.position.x = 150;
                lineX.position.z = i * 10;
                lineX.position.y = 0;
                lineX.computeLineDistances();
                lineX.layers.set(1);
                scene.add(lineX);

                // 竖线
                var lineZ = new THREE.Line(geometry, new THREE.LineDashedMaterial({ color: 0xbfbfbf, opacity: 1, dashSize: dashSize, gapSize: gapSize }));
                lineZ.position.x = i * 10;
                lineZ.position.y = 0;
                lineZ.position.z = 150;
                lineZ.rotation.y = 90 * Math.PI / 180;
                lineZ.computeLineDistances();
                lineZ.layers.set(1);
                scene.add(lineZ);
            }
        };

        var initObjects = function () {

            // 1
            var shelf = new Object();
            shelf.id = "A01";
            shelf.rowCount = 1;
            shelf.columnCount = 5;
            shelf.floorCount = 4;

            shelf.x = 2; // 在哪个方格 x
            shelf.z = 3; // 在哪个方格 z

            initShelf(shelf);

            // 2
            shelf = new Object();
            shelf.id = "A02";
            shelf.rowCount = 1;
            shelf.columnCount = 5;
            shelf.floorCount = 4;

            shelf.x = 6; // 在哪个方格 x
            shelf.z = 3; // 在哪个方格 z

            initShelf(shelf);

            // 3
            shelf = new Object();
            shelf.id = "A03";
            shelf.rowCount = 1;
            shelf.columnCount = 5;
            shelf.floorCount = 4;

            shelf.x = 10; // 在哪个方格 x
            shelf.z = 3; // 在哪个方格 z

            initShelf(shelf);

            // 4
            shelf = new Object();
            shelf.id = "A04";
            shelf.rowCount = 1;
            shelf.columnCount = 5;
            shelf.floorCount = 4;

            shelf.x = 14; // 在哪个方格 x
            shelf.z = 3; // 在哪个方格 z

            initShelf(shelf);

            // 5
            shelf = new Object();
            shelf.id = "A05";
            shelf.rowCount = 1;
            shelf.columnCount = 5;
            shelf.floorCount = 4;

            shelf.x = 18; // 在哪个方格 x
            shelf.z = 3; // 在哪个方格 z

            initShelf(shelf);



            // 横向 1
            shelf = new Object();
            shelf.id = "B01";
            shelf.rowCount = 5;
            shelf.columnCount = 1;
            shelf.floorCount = 6;

            shelf.x = 21; // 在哪个方格 x
            shelf.z = 5; // 在哪个方格 z

            initShelf(shelf);

            // 横向 2
            shelf = new Object();
            shelf.id = "B02";
            shelf.rowCount = 5;
            shelf.columnCount = 1;
            shelf.floorCount = 6;

            shelf.x = 21; // 在哪个方格 x
            shelf.z = 9; // 在哪个方格 z

            initShelf(shelf);

            // 横向 3
            shelf = new Object();
            shelf.id = "B03";
            shelf.rowCount = 5;
            shelf.columnCount = 1;
            shelf.floorCount = 6;

            shelf.x = 21; // 在哪个方格 x
            shelf.z = 13; // 在哪个方格 z

            initShelf(shelf);
        };

        var animation = function () {
            renderer.render(scene, camera);
            requestAnimationFrame(animation);
            // only required if controls.enableDamping = true, or if controls.autoRotate = true
            // mOrbitControls.update(); // 鼠标控制视觉(OrbitControls)更新
            stats.update(); // 性能监视器(Stats)更新
        };

        var objectArray = new Array();

        var btnSubmit_Click = function () {

            var shelf = new Object();
            shelf.id = document.getElementById("txtID").value;
            shelf.rowCount = parseInt(document.getElementById("txtRow").value);
            shelf.columnCount = parseInt(document.getElementById("txtColumn").value);
            shelf.floorCount = parseInt(document.getElementById("txtFloor").value);

            shelf.x = parseInt(document.getElementById("txtX").value); // 在哪个方格 x
            shelf.z = parseInt(document.getElementById("txtZ").value); // 在哪个方格 z

            initShelf(shelf);
        };

        var btnClearSubmit_Click = function () {
            for (var i = 0; i < objectArray.length; i++) {
                scene.remove(objectArray[i]);
            }

            objectArray = new Array();
            btnSubmit_Click();
        };

        var effectController = {
            focalLength: 15,
            filmGauge: 35,

            // jsDepthCalculation: true,
            // shaderFocus: false,
            //
            fstop: 2.8,
            // maxblur: 1.0,
            //
            showFocus: false,
            focalDepth: 3,
            // manualdof: false,
            // vignetting: false,
            // depthblur: false,
            //
            // threshold: 0.5,
            // gain: 2.0,
            // bias: 0.5,
            // fringe: 0.7,
            //
            // focalLength: 35,
            // noise: true,
            // pentagon: false,
            //
            // dithering: 0.0001

            position_X: 105,
            position_Y: 18,
            position_Z: 180,

            lookAt_X: 110,
            lookAt_Y: 18,
            lookAt_Z: 0
        };

        var initGUI = function () {
            // 控制台
            var gui = new dat.GUI();

            // 
            var f1 = gui.addFolder('Camera');
            f1.add(effectController, 'focalLength', 1, 135, 0.01).onChange(matChanger);
            f1.add(effectController, 'filmGauge', 1, 1000, 0.01).onChange(matChanger);

            f1.add(effectController, 'position_X', 0, 500, 0.1).onChange(matChanger);
            f1.add(effectController, 'position_Y', 0, 50, 0.1).onChange(matChanger);
            f1.add(effectController, 'position_Z', 0, 500, 0.1).onChange(matChanger);

            f1.add(effectController, 'lookAt_X', -180, 1000, 0.01).onChange(matChanger);
            f1.add(effectController, 'lookAt_Y', -180, 180, 0.01).onChange(matChanger);
            f1.add(effectController, 'lookAt_Z', -1000, 1000, 0.01).onChange(matChanger);

            f1.open();

            // 
            var f2 = gui.addFolder('Layers');
            f2.add(layers, 'xyz').onChange(function () { camera.layers.toggle(0); });
            f2.add(layers, 'floor').onChange(function () { camera.layers.toggle(1); });
            f2.open();

            matChanger();
        };

        var matChanger = function () {
            //for (var e in effectController) {
            //    if (e in camera.postprocessing.bokeh_uniforms) {
            //        camera.postprocessing.bokeh_uniforms[e].value = effectController[e];
            //    }
            //}
            //camera.postprocessing.bokeh_uniforms['znear'].value = camera.near;
            //camera.postprocessing.bokeh_uniforms['zfar'].value = camera.far;
            
            //effectController['focalDepth'] = camera.postprocessing.bokeh_uniforms['focalDepth'].value;
// camera.setLens(effectController.focalLength, camera.frameHeight, effectController.fstop, camera.coc);
            // 过时
            camera.setLens
            (
                effectController.focalLength, // focalLength
                effectController.filmGauge // effectController.filmGauge // camera.frameHeight // filmGauge
            );

            camera.position.set(effectController.position_X, effectController.position_Y, effectController.position_Z);

            camera.lookAt(effectController.lookAt_X, effectController.lookAt_Y, effectController.lookAt_Z);
        };

    </script>
</head>
<body onload="threeStart();">
    <div style="position: absolute; width:200px; height:200px; left:5px; top: 60px; color:antiquewhite;">
        <table>
            <tbody>
                <tr><td>层</td><td><input id="txtFloor" type="tel" value="4" /></td></tr>
                <tr><td>格</td><td><input id="txtColumn" type="tel" value="5" /></td></tr>
                <tr><td>行</td><td><input id="txtRow" type="tel" value="2" /></td></tr>
                <tr><td>X</td><td><input id="txtX" type="tel" value="2" /></td></tr>
                <tr><td>Z</td><td><input id="txtZ" type="tel" value="3" /></td></tr>
                <tr><td>ID</td><td><input id="txtID" type="tel" value="S01" /></td></tr>
            </tbody>
        </table>
        <div>
            <input id="btnSubmit" type="button" value="添加" onclick="btnSubmit_Click()" />
            <input id="btnClearSubmit" type="button" value="清除后添加" onclick="btnClearSubmit_Click()" />
        </div>
    </div>
    <!--<div style="position: absolute; width:200px; height:200px; left:5px; top: 260px; ">

        <p>名字 : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>

        <h1>Hell {{constanttest}}</h1>
        <h1>Hell {{step_2}}</h1>

        <h2>Camera</h2>
        <span>position</span>
        <table>
            <tbody>
                <tr><td>X</td><td><input id="txtCamera_position_X" type="text" ng-model="camera.position.x" /></td></tr>
                <tr><td>Y</td><td><input id="txtCamera_position_Y" type="text" ng-model="camera.position.y" /></td></tr>
                <tr><td>Z</td><td><input id="txtCamera_position_Z" type="text" ng-model="camera.position.z" /></td></tr>
            </tbody>
        </table>
        <span>up</span>
        <table>
            <tbody>
                <tr><td>X</td><td><input id="txtCamera_up_X" type="text" ng-model="camera.up.x" /></td></tr>
                <tr><td>Y</td><td><input id="txtCamera_up_Y" type="text" ng-model="camera.up.y" /></td></tr>
                <tr><td>Z</td><td><input id="txtCamera_up_Z" type="text" ng-model="camera.up.z" /></td></tr>
            </tbody>
        </table>

        <div>
            <input id="btnTemp" type="button" value="获取信息" onclick="btnTemp_Click()" />
        </div>
    </div>-->
</body>
</html>